body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #d8e2a9;
}

.calculator {
  text-align: center;
  padding: 60px;
  border-radius: 10px;
  background-color: #776b03;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input {
  width: 100px;
  padding: 8px;
  margin: 10px;
  font-size: 16px;
  border-radius: 8px;
}

.buttons {
  margin: 10px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 23px;
  cursor: pointer;
  background-color: #e7c91d; 
  color: rgb(27, 5, 105); 
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #df9a32; 
}

#result {
  margin-top: 20px;
  font-size: 25px;
  color: #333;
}
